.input {
  display: block;

  width: 400px;
  height: 56px;

  border-style: none;
  border-bottom: 1px solid #212121;
  background-color: transparent;

  margin: 0 auto;
  margin-bottom: 30px;

  padding: 16px;
  padding-right: 40px;
  outline: none;

  transition: var(--animation-cubicBezier);

  font-size: var(--font-medium);
  color: var(--color-dark);
  font-weight: 300;
  letter-spacing: 0.03em;

  &::placeholder {
    font-weight: 200;
  }
}
